<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">

  <!-- spring boot logging 的基础配置 -->
  <include resource="log-default.xml"/>

  <property name="LOG_PATH" value="${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}}"/>
  <property name="FILE_LOG_PATTERN"
    value="%d{yyyy-MM-dd HH:mm:ss.SSS} ${LOG_LEVEL_PATTERN:-%5p} ${PID:- } [%X{traceId}] [%X{nlpInfo}] --- [%t] %-40.40logger{36} : %m%n"/>
  <property name="CONSOLE_LOG_PATTERN"
    value="%d{yyyy-MM-dd HH:mm:ss.SSS} ${LOG_LEVEL_PATTERN:-%5p} ${PID:- } [%X{traceId}] [%X{nlpInfo}] --- [%t] %-40.40logger{36} : %m%n"/>
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <Pattern>
        ${CONSOLE_LOG_PATTERN}
      </Pattern>
    </encoder>
  </appender>

  <logger name="com.rokid.skill.kit4j" level="INFO" additivity="false">
    <appender-ref ref="CONSOLE"/>
  </logger>

  <logger name="com.rokid.skill.demo" level="INFO" additivity="false">
    <appender-ref ref="CONSOLE"/>
  </logger>

  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
  </root>

</configuration>
